<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pac.instabuildings.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   	<uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pac.instabuildings.android.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pac.instabuildings.android.NewPostActivity"
            android:label="@string/title_activity_new_post"
            android:parentActivityName="pac.instabuildings.android.MainActivity" >
        </activity>
        <activity
            android:name="pac.instabuildings.android.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:parentActivityName="pac.instabuildings.android.MainActivity" >
        </activity>
        <activity
            android:name="pac.instabuildings.android.AccountActivity"
            android:label="@string/title_activity_accounts"
            android:parentActivityName="pac.instabuildings.android.MainActivity" >
        </activity>
        <activity
            android:name="pac.instabuildings.android.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="pac.instabuildings.android.MainActivity" >
        </activity>
        <activity
            android:name="pac.instabuildings.android.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
     </application>

</manifest>
